<h1 id="header_index">Edit Your Profile</h1>
<div class="form-signin">
<%= form_for @user do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :state %>
<%= f.text_field :state %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Submit", :class => "submit_button" %>
<% end %>
</div>
