<h2>Edit Your Profile</h2>
<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.password_field :last_name %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :state %>
<%= f.password_field :state %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Submit" %>
<% end %>
